body {
    margin: 0;
    padding: 0;
    background-color: #f44336;
}

h1, h2 {
    font-size: 40px;
    text-align: center;
    font-family: 'Trade Winds', cursive;
    color: white;
    height: 20px;
}

h2 {
    margin-left: 50px;
    padding: 15px;
    background: #ff7961;
    padding-bottom: 45px;
    border-radius: 3px;
}

.judul {
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: baseline;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    margin-right: 20px;
    background: #ba000d;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    color: white;
    font-family: 'Trade Winds', cursive;
    cursor: pointer;
}

.container {
    width: 600px;
    margin: 0 auto;
    cursor: url(../asset/palu1.png), auto;
}

.container:active {
    cursor: url(../asset/palu2.png), auto;
}

.tanah {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
}

.tanah::after {
    content: '';
    display: block;
    width: 200px;
    height: 100px;
    background: url(../asset/tanah.png) bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    bottom: -20px;
}

.tikus {
    width: 100%;
    height: 100%;
    background: url(../asset/tikus.png) bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100px;
    transition: 0.3s ease-out;
}

.tanah.muncul .tikus {
    top: -25px;
}